<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>User Screen</title>
</head>
<body>
<h1 layout:fragment="header">Pet : Status</h1>

<div layout:fragment="content" class="container">
    <!-- It can be put tags into header -->
</div>
<div layout:fragment="content">
    <p th:unless="${#strings.isEmpty(date)}">Date: <span th:text="${{date}}">01-01-1990</span></p>

    <p>User: <span th:text="#{user.name}">Anonymous</span></p>

    <p th:unless="${#strings.isEmpty(animal)}">Pet: <span th:object="${animal}"
                                                          th:text="*{family}">No any pet...</span>
    </p>

    <a id="login-link" th:href="@{/login}">Login</a>
</div>
</body>
</html>