<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Login</title>
</head>
<body>
<h1 layout:fragment="header">Pet : Create</h1>

<div layout:fragment="content" class="container">
    <!-- It can be put tags into header -->
</div>

<div layout:fragment="content">
    <form action="#" th:action="@{/show}" th:object="${animal}" method="post">

        <label>
            <input type="text" th:field="*{family}"/>
            <input type="submit" value="Save"/>
        </label>
    </form>

    <a id="home-page-link" th:href="@{/}" th:text="#{home.page}">Home Page</a>
</div>
</body>
</html>